@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/museosanscyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/museosanscyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/museosanscyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/museosanscyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/museosanscyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/museosanscyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/museosanscyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/museosanscyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Light';
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 600px;
    width: 90%;
  }
}

@media (max-width: 320px) {
  .container {
    width: 90%;
  }
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 30px;
}

.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.section {
  padding: 90px 0;
}

.section-title {
  font-size: 24px;
  font-family: 'Museo Sans Bold';
}

.section-subtitle {
  font-size: 16px;
  display: block;
}

.input {
  border: 1px solid #dddddd;
  padding: 20px 26px;
  font-size: 15px;
  border-radius: 10px;
}

.arrows__left:hover, .arrows__right:hover {
  cursor: pointer;
}

.navbar {
  padding: 8px 0;
}

.navbar img {
  width: 100%;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 13px;
  font-weight: 400;
}

.navbar__button {
  margin-left: 30px;
  font-family: 'Museo Sans Bold';
  font-size: 13px;
  font-weight: 400;
}

.navbar__phone {
  display: inline-block;
  color: #333333;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  margin-top: 8px;
  font-family: 'Museo Sans Bold';
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 15px 26px;
  }
  .navbar__logo {
    width: 90px;
  }
}

@media (max-width: 320px) {
  .navbar {
    padding: 15px 0;
  }
  .navbar__button {
    font-size: 10px;
    padding: 15px 26px;
  }
  .navbar__logo {
    width: 90px;
  }
}

.hero {
  padding: 50px 0 0 0;
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-image img {
  width: 100%;
}

.hero-text {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.hero-text__title {
  font-size: 41px;
  font-weight: 400;
  line-height: 55px;
  margin-bottom: 38px;
  font-family: 'Museo Sans Bold';
}

.hero-text__subtitle {
  display: inline-block;
  margin-bottom: 70px;
  padding-left: 2px;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Museo Sans Bold';
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__image {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 30px;
}

.hero-list__text {
  max-width: 250px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .hero-text__title {
    font-size: 26px;
    line-height: 1.4;
    margin-bottom: 15px;
    max-width: 350px;
  }
  .hero-text__subtitle {
    font-size: 18px;
    margin-bottom: 28px;
    max-width: 220px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__text {
    font-size: 14px;
    line-height: 1.2;
  }
  .hero-list__image {
    margin-right: 15px;
  }
  .hero-image {
    margin: 0;
    height: 20%;
  }
}

@media (max-width: 320px) {
  .hero {
    padding: 25px 0;
  }
  .hero-text__title {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 15px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
  }
}

.offer {
  padding: 60px 0;
  background: url("../img/offer-bg.png") no-repeat;
  background-position: center right;
  background-size: contain;
  position: relative;
}

.offer::before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
}

.offer-block {
  padding-right: 90px;
  width: 50%;
  position: relative;
}

.offer__title {
  line-height: 35px;
  max-width: 350px;
}

.offer__subtitle {
  max-width: 250px;
  margin-bottom: 30px;
}

.offer__input {
  margin-bottom: 30px;
  width: 240px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__button {
  width: 100%;
  min-height: 70px;
}

.offer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 31px;
}

.offer-info__block {
  max-width: 234px;
}

.offer-info__block:first-child {
  margin-right: 60px;
}

.offer-info__text {
  font-size: 15px;
  line-height: 24px;
}

.offer-info__phone {
  display: block;
  font-size: 15px;
  line-height: 24px;
  font-family: "Museo Sans Bold";
  text-decoration: none;
  color: #333333;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #ffffff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
}

@media (max-width: 320px) {
  .offer {
    padding: 40px 0;
  }
  .offer__title {
    font-size: 18px;
    line-height: 1.2;
    width: 95%;
    margin-bottom: 20px;
  }
  .offer__subtitle {
    font-size: 14px;
  }
  .offer__button {
    font-size: 14px;
    padding: 19px 62px;
  }
  .offer-info {
    display: block;
  }
  .text-primary {
    display: inline-block;
    margin-bottom: 18px;
  }
  .text-secondary {
    display: inline-block;
    margin-bottom: 10px;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-width: 200px;
  background-color: #fff;
  padding: 40px;
  text-align: center;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}

.modal-dialog__title {
  font-size: 22px;
  line-height: 33px;
  font-family: 'Museo Sans Bold';
  margin-bottom: 40px;
}

.modal-dialog__subtitle {
  display: block;
  font-size: 16px;
  line-height: 35px;
  margin-bottom: 30px;
}

.modal-dialog__input {
  width: 100%;
  padding: 25px;
  margin-bottom: 15px;
}

.modal-dialog__button {
  width: 100%;
  padding: 25px 70px;
  margin-top: 15px;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 18px;
  font-family: 'Museo Sans Bold';
}

.modal-dialog__text {
  display: block;
  font-size: 15px;
  line-height: 20px;
  width: 300px;
  width: 75%;
  margin: 0 50px 10px 50px;
}

.modal-dialog__phone {
  display: block;
  color: #333333;
  font-family: "Museo Sans Bold";
  text-decoration: none;
  font-size: 24px;
  line-height: 24px;
}

@media (max-width: 320px) {
  .modal-dialog__title {
    font-size: 16px;
    line-height: 20px;
    font-family: 'Museo Sans Bold';
    margin-bottom: 15px;
  }
  .modal-dialog__subtitle {
    display: block;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 15px;
  }
  .modal-dialog__input {
    padding: 15px;
    margin-bottom: 10px;
  }
  .modal-dialog__button {
    padding: 20px 40px;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
  }
  .modal-dialog__text {
    font-size: 12px;
    line-height: 14px;
    width: 300px;
    width: 75%;
    margin: 0 25px 10px 25px;
  }
  .modal-dialog__phone {
    font-size: 20px;
    line-height: 16px;
  }
}

.portfolio {
  background: #f5f5f5 url("../img/portfolio-pattern.jpg") repeat-y center left;
  background-size: 50%;
}

.portfolio__title {
  text-align: center;
  max-width: 650px;
  margin: auto;
  margin-bottom: 100px;
}

.portfolio__arrows {
  max-width: 120px;
  margin: auto;
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__item__image {
  margin: auto;
}

.price__title {
  margin: auto;
  margin-bottom: 58px;
  text-align: center;
  max-width: 430px;
}

.price__subtitle {
  margin-bottom: 59px;
  text-align: center;
}

.price__card {
  margin-bottom: 30px;
}

.card {
  text-align: center;
  border: 1px solid #e8e8e8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}

.card:hover .card__image::before {
  opacity: 1;
}

.card__text {
  padding: 40px;
}

.card__title {
  margin-top: 0;
}

.card__image {
  position: relative;
}

.card__image .image__height {
  display: block;
  width: 100%;
}

.card__image::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card__link {
  display: inline-block;
  text-decoration: none;
  font-family: 'Museo Sans Bold';
  font-size: 18px;
  color: #333333;
  position: relative;
}

.card__link:hover::after {
  height: 12px;
}

.card__link:after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: -4px;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.step {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  text-align: center;
  position: relative;
}

.step::after {
  content: '';
  width: 72px;
  height: 25px;
  position: absolute;
  background: url("../img/arrow.png") no-repeat center;
  top: -18px;
  right: -15%;
}

.step:last-child::after {
  display: none;
}

.step__image {
  width: 100px;
  height: 100px;
  border: 3px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 30px;
}

.step__text {
  font-size: 14px;
  max-width: 160px;
  margin: auto;
}

.steps__title {
  margin: auto;
  margin-bottom: 59px;
  text-align: center;
  max-width: 530px;
}

.steps__subtitle {
  margin: auto;
  margin-bottom: 58px;
  text-align: center;
}

.steps-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .step {
    margin-bottom: 30px;
  }
  .step::after {
    display: none;
  }
  .steps-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1200px) {
  .step {
    margin-bottom: 30px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .step::after {
    display: none;
  }
  .steps-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */